.attribution {
  font-size: 0.68rem;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

body {
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  font-family: "Outfit", sans-serif;
  background-color: #d5e1ef;
}
.container {
  max-width: 15.625rem;
  height: min-content;
  justify-content: center;
  align-items: center;
  border-radius: 0.938rem;
  padding: 0.938rem;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.main-div {
  text-align: center;
}

h3 {
  font-weight: 700;
  font-size: 1.25rem;
}
p {
  font-weight: 400;
  color: #9a9ea8;
  font-size: 0.875rem;
}

.cardpic {
  width: 100%;
  max-width: 15.625rem;
  max-height: 15.625rem;
  border-radius: 0.9rem;
}
footer {
  margin-top: 1.25rem;
  max-width: 15.625rem;
  font-size: 0.75;
}
